<div class="section administration">
    <div class="cards-content">
        <div class="principal-info">
            <% if (sr === 3) { %>
                <form class="card admin">
                    <div class="notes-title">
                        <h4>Nuevo mensaje</h4>
                        <input class="input input-form" type="text" name="name">
                        <textarea class="input input-form" rows="10" name="message"></textarea>
                        <button class="btn btn-send-admin-note" type="submit">Enviar</button>
                    </div>
                </form>
            <% } %>
            <div  class="notes-section">
                <div class="card admin">
                    <div class="notes-title">
                        <h4>Notas</h4>
                    </div>
                </div>
                <div class="card admin">
                    <div class="note">
                        <nav class="note-title">Usuarios Inactivos:</nav>
                        <p>Los usuarios inactivos no tienen acceso al sistema.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cards-content-col">
            <div class="card sellers-data">
                <div class="card-header">
                    <h3 class="card-title">Vendedores</h3>
                </div>
                <div class="card-body">
                    <div class="mini-table users">
                        <div class="mini-table-head" id="table">
                            <nav class="mini-table-head-item">Nombre</nav>
                            <nav class="mini-table-head-item">Correo</nav>
                            <nav class="mini-table-head-item">Rol</nav>
                            <nav class="mini-table-head-item">Estatus</nav>
                        </div>
                        <% users.forEach(user => { %>
                            <div class="mini-table-row pointer" onclick="viewAdmin('<%= user.id %>')">
                                <nav class="mini-table-body-item"><%= user.name %></nav>
                                <nav class="mini-table-body-item email"><%= user.email %></nav>
                                <nav class="mini-table-body-item"><%= user.Role.name %></nav>
                                <nav class="mini-table-body-item"><%= user.status === false ? 'Inactivo' : 'Activo' %></nav>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
            <div class="card not-asigned-data">
                <div class="card-header">
                    <h3 class="card-title">Prospectos sin Asignar</h3>
                </div>
                <div class="card-body">
                    <div class="mini-table leads">
                        <div class="mini-table-head" id="table">
                            <nav class="mini-table-head-item">Nombre</nav>
                            <nav class="mini-table-head-item">Campaña</nav>
                            <nav class="mini-table-head-item">Plataforma</nav>
                            <nav class="mini-table-head-item">Asignación</nav>
                        </div>
                        <% leads.forEach(lead => { %>
                            <div class="mini-table-row pointer" onclick="viewLead('<%= lead.id %>')">
                                <nav class="mini-table-body-item"><%= lead.name %></nav>
                                <nav class="mini-table-body-item"><%= lead.Origin.name %></nav>
                                <nav class="mini-table-body-item"><%= lead.Platform.name %></nav>
                                <nav class="mini-table-body-item">Pendiente</nav>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/home/administration.js"></script>