<div class="section lead">
    <div class="cards-content-col">
        <div class="card lead-data">
            <div class="card-header">
                <h3 class="card-title">En Seguimiento</h3>
            </div>
            <div class="card-body">
                <div class="mini-table follow-table">
                    <div class="mini-table-head" id="table">
                        <span class="mini-table-head-item">Nombre</span>
                        <span class="mini-table-head-item tbit-4">Correo</span>
                        <span class="mini-table-head-item">Asignado a</span>
                        <span class="mini-table-head-item">Estatus</span>
                    </div>
                    <% following.forEach(lead => { %>
                        <div class="mini-table-row follow-row pointer" onclick="viewLead('<%= lead.id %>')">
                            <span class="mini-table-body-item"><%= lead.name %></span>
                            <span class="mini-table-body-item email tbit-4"><%= lead.email %></span>
                            <span class="mini-table-body-item">
                                <% if (!lead.Staff) { %>
                                    ----
                                <% } else { %>
                                    <%= lead.Staff.name %>
                                <% } %>
                            </span>
                            <span class="mini-table-body-item"><%= lead.LeadStatus.name %></span>
                        </div>
                    <% }) %>
                </div>
            </div>
            <div hidden class="card-footer">
                <button class="btn btn-form submit" type="submit">Cargar más</button>
            </div>
        </div>
        
        <div class="card lead-data">
            <div class="card-header">
                <h3 class="card-title">Contactados</h3>
            </div>
            <div class="card-body">
                <div class="mini-table contacted-table">
                    <div class="mini-table-head" id="table">
                        <span class="mini-table-head-item">Nombre</span>
                        <span class="mini-table-head-item tbit-4">Correo</span>
                        <span class="mini-table-head-item">Asignado a</span>
                        <span class="mini-table-head-item">Estatus</span>
                    </div>
                    <% completed.forEach(lead => { %>
                        <div class="mini-table-row follow-row pointer" onclick="viewLead('<%= lead.id %>')">
                            <span class="mini-table-body-item"><%= lead.name %></span>
                            <span class="mini-table-body-item email tbit-4"><%= lead.email %></span>
                            <span class="mini-table-body-item">
                                <% if (!lead.Staff) { %>
                                    -----
                                <% } else { %>
                                    <%= lead.Staff.name %>
                                <% } %>
                            </span>
                            <span class="mini-table-body-item"><%= lead.LeadStatus.name %></span>
                        </div>
                    <% }) %>
                </div>
            </div>
            <div hidden class="card-footer">
                <button class="btn btn-form submit" type="submit">Cargar más</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/home/contacted.js"></script>
